wheel==0.32.3
pip==18.1
Automat==0.7.0
Rx==1.6.1
attrs==18.2.0
boto3==1.9.71
botocore==1.12.71
decorator==4.3.0
docutils==0.14
jmespath==0.9.3
networkx==2.2
python-dateutil==2.7.5
s3transfer==0.1.13
setuptools==40.6.3
six==1.12.0
urllib3==1.24.1
lvm2py==1.0
matplotlib==3.0.2