name: Python Formater
on: push
jobs:
  autopep8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
      - uses: creyD/action_autopep8@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
